.aboutMe{
    content: '';
    height: 200vh;;
    background-image: url(../assets/background2.svg);
    background-color: rgb(193, 209, 240);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    
}