html, body{
	padding: 0;
	margin: 0
}
.homepage{
	height: 100vh;
	width: 100%;
	background: url(../assets/background.svg);
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
}
.cloud1, .cloud2, .cloud3, .cloudbottom{
	position: absolute;
}
.cloud1{
	top: -5vh;
	img{
		height: 28vh;
	}
}
.cloud2{
	top: 40vh;
	img{
		height: 17vh;
	}
}
.cloud3{
	top: 60vh;
	img{
		height: 19vh;
	}
}
.cloudbottom{
	bottom: -76px;
	width: 100%;
	img{
		width: inherit;
		opacity: .4;
	}
}