<div class="half-top px-5 pb-5" id="aboutMe">
  <div class="container d-flex align-items-center">
    <div class="mugshot mr-5">
      <img src="../../../assets/images/mug.png" alt="">
    </div>

    <div class="content ml-5 p-5 lighter-grey">
      <h1>About Me</h1>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
         Nisi quos temporibus ullam, deserunt pariatur hic? At dolor unde doloremque. Modi saepe magni, 
         tenetur cupiditate officiis sequi omnis blanditiis consectetur? Quos!</p>
      <p class="mb-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti culpa fugit similique enim repellat 
        magnam repellendus, vel quia quae minus laborum reprehenderit necessitatibus aliquam eligendi 
        quis impedit libero neque recusandae.</p>
    </div>
  </div>
</div>