@font-face{
  font-family: 'Baloom-bold';
  src: url('../assets/fonts/BalooTammudu2-Bold.ttf') format('ttf');
}

@font-face{
  font-family: 'Baloon-semibold';
  src: url('../assets/fonts/BalooTammudu2-SemiBold.ttf') format('ttf');
}

@font-face{
  font-family: 'Baloon-extrabold';
  src: url('../assets/fonts/BalooTammudu2-ExtraBold.ttf') format('ttf');
}

@font-face{
  font-family: 'Baloon-regular';
  src: url('../assets/fonts/BalooTammudu2-Regular.ttf') format('ttf');
}

@font-face{
  font-family: 'Baloon-medium';
  src: url('../assets/fonts/BalooTammudu2-Medium.ttf') format('ttf');
}